body {
    background-color: black;
}

.logo {
    height: 8em;
    padding: 5em;
    will-change: filter;
    transition: filter 300ms;
}
  
.logo:hover {
    filter: drop-shadow(0 0 2em #a706f1);
}

  
@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

@media (max-width: 588px) and (max-height: 624px) {
    .logo {
        display: none;
    }
}